  <section>
    <a
      href="/welcome"
      id="logout"
      class="btn-large waves-effect waves-light teal lighten-1"
    >Logout</a>
    <a
      href="/petGallery"
      class="btn-large waves-effect waves-light teal lighten-1"
    >Pet Gallery</a>
    {{#if petOwner}}
    <a
      href="/petUpdate"
      class="btn-large waves-effect waves-light teal lighten-1"
    >Update Your Pet's Info</a>
    {{/if}}
    <a
      href="/petuploader"
      class="btn-large waves-effect waves-light teal lighten-1"
    >Upload a New Pet</a>
    <a
      href="/homepage"
      id="homepage"
      class="btn-large waves-effect waves-light teal lighten-1"
    >Home</a>
  </section>
 
  <div class="flex-column single-pet-parent">
    <input type="hidden" id="petID" value="{{Pet.owner_id}}"/>
      <img src="{{petCard.image}}"/>

      <h1>{{petCard.petName}}</h1>
      <h3>{{petCard.petGender}}</h3>
      <h2>{{petCard.petBirthday}}</h2>
      {{#if petCard.petLikesSwimming}}
      <h2>Swimming</h2>
      {{/if}}
      {{#if petCard.petLikesWalks}}
      <h2>Walks</h2>
      {{/if}}
      {{#if petCard.petLikesBones}}
      <h2>Bones</h2>
      {{/if}}
      {{#if petCard.petLikesLicking}}
      <h2>Licking</h2>
      {{/if}}
      {{#if petCard.petLikesBarking}}
      <h2>Barking</h2>
      {{/if}}
      {{#if petCard.petLikesRunning}}
      <h2>Running</h2>
      {{/if}}
      {{#if petCard.petLikesJumping}}
      <h2>Jumping</h2>
      {{/if}}
      {{#if petCard.petLikesTreats}}
      <h2>Treats</h2>
      {{/if}}
      <h3>{{petCard.petAboutMe}}</h3>
  </div>

  <script src="/javascript/update.js"></script>