  
  <div class="flex-column single-pet-parent">
      <h1>{{petCard.petName}}</h1>
      <h3>{{petCard.petGender}}</h3>
      <h3>{{petCard.petBirthday}}</h3>
      {{#if petCard.petLikesSwimming}}
      <h3>Swimming</h3>
      {{/if}}
      {{#if petCard.petLikesWalks}}
      <h3>Walks</h3>
      {{/if}}
      {{#if petCard.petLikesBones}}
      <h3>Bones</h3>
      {{/if}}
      {{#if petCard.petLikesLicking}}
      <h3>Licking</h3>
      {{/if}}
      {{#if petCard.petLikesBarking}}
      <h3>Barking</h3>
      {{/if}}
      {{#if petCard.petLikesRunning}}
      <h3>Running</h3>
      {{/if}}
      {{#if petCard.petLikesJumping}}
      <h3>Jumping</h3>
      {{/if}}
      {{#if petCard.petLikesTreats}}
      <h3>Treats</h3>
      {{/if}}
      <h4>{{petCard.petAboutMe}}</h4>
      <img src="/Images/{{petCard.image}}"/>
  </div>

